.header {
    font-size: 1em;
    margin-top: 10px;
    margin-right: 10px;
}

.breadcrumbs {
     font-size: 1.4em;
}

.nav-icon {
     font-size: 2em;
}

/*
.list-group-item div {
display: inline-block;
overflow: hidden;
width: auto;
background-color: #333;
} */

.ellipsed-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width : 100%;
}

.badge-right {
    float: right;
    display: inline;
    margin-top: 2px;
}

#owner-span {
    font-size: 12px;
    float: right;
}

div.topleft {
    display: inline-block;
}

#logout {
}

#guest-topright {
    display: inline;
}

.icon-topright {
    float: right;
    margin: 5px;
}
div.collection {
    font-size: 1.2em;
    margin-top: 4px;
    margin-right: 10px;
}
#share-button {
    float: right;
}

#plus-button {
    float: right;
    margin-right: 8px;
}

#download-button {
    float: right;
    margin-right: 8px;
}

#minus-button {
    float: right;
    margin-right: 8px;
}

.ul {
    padding: 12px;
    font-size: 2.0em;
}

.glyphicon-fixtop {
    top: 3px;
}

.buttons {
    height: 45px;
}

.label-as-badge {
    border-radius: 1em;
}

.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}